In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!cp 'drive/My Drive/fashion-train.zip' 'fashion-train.zip'
!cp 'drive/My Drive/fashion-test.zip' 'fashion-test.zip'
!cp 'drive/My Drive/fashion-sample.csv' 'fashion-sample.csv'

In [ ]:
train = pd.read_csv('train.csv')

In [ ]:
test = pd.read_csv('test.csv')

In [ ]:
train.head()

   id  label
0   1      9
1   2      0
2   3      0
3   4      3
4   5      0

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60000 entries, 0 to 59999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      60000 non-null  int64
 1   label   60000 non-null  int64
dtypes: int64(2)
memory usage: 937.6 KB

In [ ]:
test.head()

      id
0  60001
1  60002
2  60003
3  60004
4  60005

In [ ]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10000 non-null  int64
dtypes: int64(1)
memory usage: 78.2 KB

In [ ]:
l_tr =[]
l_te =[]

In [ ]:
for img in train['id']:
  image = plt.imread('train/'+str(img)+'.png')
  l_tr.append(image)

In [ ]:
for img in test['id']:
  image = plt.imread('test/'+str(img)+'.png')
  l_te.append(image)

In [ ]:
x_train = np.array(l_tr)

In [ ]:
x_test = np.array(l_te)

In [ ]:
x_train.shape

(60000, 28, 28, 4)

In [ ]:
x_test.shape

(10000, 28, 28, 4)

In [ ]:
y_train = train['label'].values

In [ ]:
from keras.utils import to_categorical

In [ ]:
y_train = to_categorical(y_train)

In [ ]:
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')
x_train = x_train/255
x_test = x_test/255

In [ ]:
from keras.models import Sequential, Input, Model
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D, Activation
from keras.layers.normalization import BatchNormalization
from keras.layers.advanced_activations import LeakyReLU

In [ ]:
model = Sequential()

In [ ]:
model.add(Conv2D(32,(3,3),padding='same',input_shape=(28,28,4)))
model.add(Activation('relu'))
model.add(BatchNormalization())

model.add(Conv2D(32,(3,3),padding='same'))
model.add(Activation('relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Conv2D(64,(3,3),padding='same'))
model.add(Activation('relu'))
model.add(BatchNormalization())

model.add(Conv2D(64,(3,3),padding='same'))
model.add(Activation('relu'))
model.add(BatchNormalization())
model.add(MaxPooling2D(pool_size=(2,2)))
model.add(Dropout(0.25))

model.add(Flatten())
model.add(Dense(512))
model.add(Activation('relu'))
model.add(BatchNormalization())
model.add(Dropout(0.5))
model.add(Dense(10))
model.add(Activation('softmax'))

In [ ]:
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
model.fit(x_train,y_train,batch_size=64, epochs=10,validation_split=0.1)

Epoch 1/10
844/844 [==============================] - 291s 344ms/step - loss: 0.7027 - accuracy: 0.7718 - val_loss: 0.5967 - val_accuracy: 0.7857
Epoch 2/10
844/844 [==============================] - 291s 345ms/step - loss: 0.3377 - accuracy: 0.8788 - val_loss: 0.3009 - val_accuracy: 0.8868
Epoch 3/10
844/844 [==============================] - 293s 347ms/step - loss: 0.2835 - accuracy: 0.8969 - val_loss: 0.4780 - val_accuracy: 0.8317
Epoch 4/10
844/844 [==============================] - 294s 348ms/step - loss: 0.2609 - accuracy: 0.9037 - val_loss: 0.6826 - val_accuracy: 0.7353
Epoch 5/10
844/844 [==============================] - 291s 345ms/step - loss: 0.2436 - accuracy: 0.9102 - val_loss: 1.2714 - val_accuracy: 0.7700
Epoch 6/10
844/844 [==============================] - 290s 343ms/step - loss: 0.2235 - accuracy: 0.9163 - val_loss: 0.3044 - val_accuracy: 0.9072
Epoch 7/10
844/844 [==============================] - 289s 343ms/step - loss: 0.2203 - accuracy: 0.9197 - val_loss: 0.2734 - val_accuracy: 0.8990
Epoch 8/10
844/844 [==============================] - 290s 343ms/step - loss: 0.2100 - accuracy: 0.9228 - val_loss: 0.2276 - val_accuracy: 0.9212
Epoch 9/10
844/844 [==============================] - 289s 342ms/step - loss: 0.1905 - accuracy: 0.9304 - val_loss: 0.2537 - val_accuracy: 0.9183
Epoch 10/10
844/844 [==============================] - 292s 346ms/step - loss: 0.1799 - accuracy: 0.9327 - val_loss: 0.1980 - val_accuracy: 0.9293

In [ ]:
predictions = model.predict(x_test)

In [ ]:
predicted_classes = np.argmax(np.round(predictions),axis=1)

In [ ]:
predicted_classes

array([9, 2, 1, ..., 8, 1, 5])

In [ ]:
predicted_classes.shape

(10000,)

In [ ]:
sample = pd.read_csv('fashion-sample.csv')

In [ ]:
sample

         id  label
0     60001      0
1     60002      0
2     60003      0
3     60004      0
4     60005      0
...     ...    ...
9995  69996      0
9996  69997      0
9997  69998      0
9998  69999      0
9999  70000      0

[10000 rows x 2 columns]

In [ ]:
sample['label'] = predicted_classes

In [ ]:
sample.to_csv('fashion_sample_submission.csv',index=False)