# JANATA HACK

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#reading the dataset
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
sample_submission = pd.read_csv('sample_submission.csv')

In [ ]:
df_test.head()

In [ ]:
df_train.head()

In [ ]:
df_train.shape

In [ ]:
df_test.shape

In [ ]:
df_test.isna().sum()

In [ ]:
df_train.isna().sum()

## Preprocessing

In [3]:
for feature in df_train.columns:
    df_train[feature] = df_train[feature].fillna(df_train[feature].mode()[0])

In [4]:
for feature in df_test.columns:
    df_test[feature] = df_test[feature].fillna(df_test[feature].mode()[0])

In [ ]:
df_test['Work_Experience'] = df_test['Work_Experience'].fillna(-1)
df_test['Family_Size'] = df_test['Family_Size'].fillna(-1)
df_train['Work_Experience'] = df_train['Work_Experience'].fillna(-1)
df_train['Family_Size'] = df_train['Family_Size'].fillna(-1)

In [ ]:
df_test['Ever_Married'] = df_test['Ever_Married'].fillna('null')
df_test['Graduated'] = df_test['Graduated'].fillna('null')
df_test['Profession'] = df_test['Profession'].fillna('null')
df_test['Var_1'] = df_test['Var_1'].fillna('null')
df_train['Ever_Married'] = df_train['Ever_Married'].fillna('null')
df_train['Graduated'] = df_train['Graduated'].fillna('null')
df_train['Profession'] = df_train['Profession'].fillna('null')
df_train['Var_1'] = df_train['Var_1'].fillna('null')

In [ ]:
df_test.isna().sum()

In [ ]:
df_train.isna().sum()

In [ ]:
df_train.shape

In [ ]:
df_test.shape

In [ ]:
df_test.info()

In [ ]:
df_train.info()

In [ ]:
df_test.head()

In [ ]:
df_train.head()

In [5]:
df_train = df_train.drop('ID',axis=1)
df_test = df_test.drop('ID',axis=1)

In [6]:
df_test.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6
1,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6
2,Female,Yes,69,No,Artist,0.0,Low,1.0,Cat_6
3,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6
4,Female,No,19,No,Marketing,1.0,Low,4.0,Cat_6

In [7]:
df_train.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,Female,Yes,38,Yes,Engineer,1.0,Average,3.0,Cat_4,A
2,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,Female,Yes,40,Yes,Entertainment,1.0,High,6.0,Cat_6,A

## Label Encoder

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
col = ['Gender','Ever_Married','Graduated']
for col in df_test.columns:
    df_test[col] = le.fit_transform(df_test[col])
for col in df_train.columns:
    df_train[col] = le.fit_transform(df_train[col])

In [9]:
df_test.head()

,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,0,1,16,1,2,0,2,0,5
1,1,1,17,1,5,8,0,3,5
2,0,1,46,0,0,0,2,0,5
3,1,1,37,0,4,11,1,1,5
4,0,0,1,0,8,1,2,3,5

In [ ]:
df_train.head()

In [ ]:
df_train['Profession'].value_counts()

In [ ]:
df_train['Var_1'].value_counts()

In [ ]:
df_train['Profession'] = df_train['Profession'].replace(['Lawyer',,,'])

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_test['Gender'] = le.fit_transform(df_test['Gender'])
df_test['Ever_Married'] = le.fit_transform(df_test['Ever_Married'])
df_test['Graduated'] = le.fit_transform(df_test['Graduated'])
df_test['Profession'] = le.fit_transform(df_test['Profession'])
df_test['Spending_Score'] = le.fit_transform(df_test['Spending_Score'])
df_test['Var_1'] = le.fit_transform(df_test['Var_1'])

In [ ]:
df_train['Gender'] = le.fit_transform(df_train['Gender'])
df_train['Ever_Married'] = le.fit_transform(df_train['Ever_Married'])
df_train['Graduated'] = le.fit_transform(df_train['Graduated'])
df_train['Profession'] = le.fit_transform(df_train['Profession'])
df_train['Spending_Score'] = le.fit_transform(df_train['Spending_Score'])
df_train['Var_1'] = le.fit_transform(df_train['Var_1'])

In [ ]:
df_test.head()

In [ ]:
df_train.head()

In [ ]:
x= df_train.drop(['Segmentation'],axis=1)
y= df_train['Segmentation']

In [ ]:
x.head()

In [ ]:
y.head()

## Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x,y)
prediction1 = lr.predict(df_test)

In [ ]:
prediction1

In [ ]:
sample_submission.head()

In [ ]:
submission = pd.DataFrame()
submission['ID'] = df_test['ID']
submission['Segmentation'] = prediction1

In [ ]:
submission.to_csv('Submission1.csv', index=False)

## Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
dft_model = DecisionTreeClassifier()
dft_model.fit(x,y)
prediction2 = dft_model.predict(df_test)

In [ ]:
prediction2

In [ ]:
submission['Segmentation'] = prediction2
submission.to_csv('Submission2.csv', index=False)

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rft_model = RandomForestClassifier()
rft_model.fit(x,y)
prediction3 = rft_model.predict(df_test)

In [ ]:
prediction3

In [ ]:
submission['Segmentation'] = prediction3
submission.to_csv('Submission3.csv', index=False)

## KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
classifier = KNeighborsClassifier(n_neighbors = 1,metric = 'minkowski',p = 2)
classifier.fit(x,y)
prediction4 = classifier.predict(df_test)

In [ ]:
prediction4

In [ ]:
submission['Segmentation'] = prediction4
submission.to_csv('Submission4.csv', index=False)

## SVM

In [ ]:
from sklearn.svm import SVC

In [ ]:
classifier = SVC(kernel = 'rbf',random_state = 1)
classifier.fit(x,y)
prediction5 = classifier.predict(df_test)

In [ ]:
prediction5

In [ ]:
submission['Segmentation'] = prediction5
submission.to_csv('Submission5.csv', index=False)